<div class="container">
  <div class="jumbotron">
    <h2><%= @definition.word.str %></h3>
  </div>
</div>

<h3>Definition: <%= @definition.str %></h3>
<br>

<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="str">Edit definition</label>
  <input id="str" name="str" type="text">

  <button type="submit">Update</button>
</form>
<br>

<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
    <h4>Do you want to delete?</h4>

  <button type="submit">Delete</button>
</form>
<br>
<a href="/words/<%= @definition.word.id %>">Back to <%= @definition.word.str %></a>